@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Spline+Sans+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply text-light bg-dark font-body;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading uppercase;
  }
  li {
    @apply btn-dark rounded-md;
  }

  .form-control {
    @apply py-2 px-5 text-sm rounded-md bg-dark;
  }
  .list-item {
    @apply flex items-center p-2 space-x-2;
  }

  .eye {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 20rem;
  }
  .special-header {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
  }

  .sidebar {
    padding-top: 106px;
  }

  .button-group {
    @apply col-span-full flex flex-wrap gap-4;
  }
  .btn span {
    @apply underline;
  }

  .btn {
    @apply flex justify-center space-x-2 items-baseline rounded-md px-8 py-3 text-lg uppercase w-full lg:w-auto text-center;
  }
  .btn-sm {
    @apply btn text-md py-1 btn-dark;
  }
  .btn-dark {
    @apply text-light border-2 border-dark-800;
  }
  .btn-light {
    @apply text-dark bg-light;
  }
  .btn-primary {
    @apply bg-primary text-dark;
  }
  .btn-accent {
    @apply bg-accent text-dark;
  }
  .btn-primary-outline {
    @apply text-primary border-2 border-primary;
  }
  .btn-accent-outline {
    @apply text-accent border-2 border-accent;
  }
  .btn-light-outline {
    @apply text-light border-2 border-light;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .icon {
    display: inline-flex;
    align-self: center;
  }

  .icon svg,
  .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }

  .icon.baseline svg,
  .icon img {
    top: 0.125em;
    position: relative;
  }
}
