@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Spline+Sans+Mono&display=swap");
@tailwind base;
@layer base {
  body,
  html {
    @apply text-light bg-dark font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading uppercase;
  }
  i {
    @apply no-underline ml-3;
  }
  li a i {
    margin: 0;
    @apply mr-3;
  }
  .special-header {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
  }

  .eye {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
  }
}

@tailwind components;

@layer components {
  .btn {
    @apply rounded-lg m-2 py-3 px-6 uppercase underline;
  }
  .btn-dark {
    @apply text-light border-2 border-dark-800;
  }
  .btn-primary {
    @apply bg-primary text-dark;
  }
  .btn-accent {
    @apply bg-accent text-dark;
  }
  .btn-light {
    @apply bg-light text-dark;
  }
  .btn-primary-outline {
    @apply text-primary border-2 border-primary;
  }
  .btn-accent-outline {
    @apply text-accent border-2 border-accent;
  }
  .btn-light-outline {
    @apply text-light border-2 border-light;
  }
}

@tailwind utilities;
